.wrapper{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 1.4rem;
    font-weight: 600;
    min-height: 32px;
    min-width: 76px;
    background-color: var(--bgr-c);
    color: var(--text-c );
    border-radius: 4px;
    gap: 4px;
    transition: all 0.08s;
    padding: 0 8px;
    border-style: solid;
    border-width: 1px;
    border-color: transparent;
    cursor: pointer;
    box-sizing: content-box;
    &:hover{
        background-color: var(--hover-c-05);
    }
    &:active{
        background-color: rgba(22, 24, 35, 0.06);
        border-color: rgba(22, 24, 35, 0.2);
    }
}
.icon{
    font-size: 1.6rem;
    color: currentColor;
}
// capsule
.capsule{
    border-radius: 999px;
}
//styles btn
.primary{
    background-color: var(--primary-c);
    color: var(--text-c-white);
    &:hover{
        background-color: var(--primary-hover-c);
    }
    &:active{
        background-color: var(--primary-active-c);
    }
}
.textOnly{
    background-color: var(--bgr-c);
    color: var(--text-c);
    font-weight: 400;
    &:hover{
        background-color: var(--hover-c);
    }
    &:active{
        background-color: rgba(22, 24, 35, 0.06);;
    }

}
//type button
.small{
    max-width: 120px;
}
.long{
}