$height-searchBtn: 40px;

.sidebar{
    width: 240px;
    height: 100%;
    background-color: rgb(242, 242, 242);
}
.logo{
    position: relative;
    padding-left: var(--padding-left-sidebar);
    margin-top: 24px;
    margin-bottom: var(--margin-bottom-inSibar);
    .logoItem {
        fill: black;
    }
    .logoItem:nth-child(2){
        position: absolute;
        left: var(--padding-left-sidebar);
    }
}

.search{
    padding-left: var(--padding-left-sidebar);
    margin: 8px 0 var(--margin-bottom-inSibar) 0;
}
.searchBtn{
    display: flex;
    height: $height-searchBtn;
    width: 208px;
    border-radius: 94px;
    background-color: var(--bgr-c-a6);
    &:hover{
        cursor: pointer;
    }
}
.searchBtnIcon{
    height: $height-searchBtn;
    width: $height-searchBtn;
    font-size: var( --fontSize-Sidebar-icon);
    align-content: center;
    justify-items: center;
}
.searchPlacehodler{
    flex: 1;
    display: flex;
    align-items: center;
    p{
        font-size: 1.4rem;
        color: var(--text-c-a6);
    }
}