.wrapper{
    width: 100%;
    background-color: var(--bgr-c);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.content{
    width: 100%;
    min-height: 1000px;
    display: flex;
    justify-content: center;
}
.innerContent{
    width: var(--defaultLayout-width);
    display: flex;
}
.mainContent{
    flex: 1;
}